<ion-content [fullscreen]="true" class="bg-light">
  
  <div class="header-section ion-padding">
    <div class="saludo">
      <p>Hola, <strong>Usuario</strong> 👋</p>
      <h1>¿Cómo quieres <br> <span class="highlight">ayudar hoy?</span></h1>
    </div>
    
    <ion-avatar class="profile-pic">
      <img src="https://i.pravatar.cc/150?u=solidarify" />
    </ion-avatar>
  </div>

  <div class="stats-container ion-padding-horizontal">
    <div class="impact-card">
      <div class="stat-item">
        <span class="number">12</span>
        <span class="label">Ayudas</span>
      </div>
      <div class="divider"></div>
      <div class="stat-item">
        <span class="number">3</span>
        <span class="label">En curso</span>
      </div>
      <div class="divider"></div>
      <div class="stat-item">
        <span class="number">🏆</span>
        <span class="label">Nivel 2</span>
      </div>
    </div>
  </div>

  <div class="section-title ion-padding-top ion-padding-horizontal">
    <h3>📢 Urgente esta semana</h3>
    <span class="see-all">Ver todo</span>
  </div>

  <div class="urgent-scroll">
    <div class="urgent-card" (click)="irADetalle(1)">
      <div class="card-img" style="background-image: url('https://placehold.co/300x200/orange/white?text=Comida');">
        <span class="badge">🔥 24h restan</span>
      </div>
      <div class="card-info">
        <h4>Recogida de Alimentos</h4>
        <p><ion-icon name="location-outline"></ion-icon> Madrid Centro</p>
      </div>
    </div>

    <div class="urgent-card" (click)="irADetalle(2)">
      <div class="card-img" style="background-image: url('https://placehold.co/300x200/blue/white?text=Ropa');">
        <span class="badge">Nuevo</span>
      </div>
      <div class="card-info">
        <h4>Abrigos para invierno</h4>
        <p><ion-icon name="location-outline"></ion-icon> Zona Norte</p>
      </div>
    </div>
  </div>

  <div class="section-title ion-padding-top ion-padding-horizontal">
    <h3>Explorar</h3>
  </div>

  <ion-grid class="menu-grid">
    <ion-row>
      <ion-col size="6">
        <div class="menu-card primary" routerLink="/crear-propuesta">
          <div class="icon-circle">
            <ion-icon name="add"></ion-icon>
          </div>
          <h5>Crear <br>Propuesta</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu-card secondary" routerLink="/lista-propuestas">
          <div class="icon-circle">
            <ion-icon name="search"></ion-icon>
          </div>
          <h5>Buscar <br>Ayuda</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu-card tertiary" routerLink="/lista-ongs">
          <div class="icon-circle">
            <ion-icon name="heart"></ion-icon>
          </div>
          <h5>Ver <br>ONGs</h5>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu-card dark">
          <div class="icon-circle">
            <ion-icon name="stats-chart"></ion-icon>
          </div>
          <h5>Mi <br>Actividad</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
