<ion-content fullscreen="true" class="account-fullscreen">
  
  <div *ngIf="loading()" class="loading-container">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Cargando perfil...</p>
  </div>

  <div *ngIf="!loading() && !usuario()" class="no-user">
    <ion-icon name="person-outline" class="no-user-icon"></ion-icon>
    <h3>Inicia sesión</h3>
    <p>Para ver y editar tu perfil</p>
    <ion-button routerLink="/login" color="primary" shape="round">Entrar</ion-button>
  </div>

  <div *ngIf="!loading() && usuario()" class="account-container">
    
    <div class="hero-section">
      <div class="avatar-section">
        <ion-avatar>
          <img [src]="avatarUrl" alt="Foto de perfil" />
        </ion-avatar>
      </div>
      
      <div class="user-info">
        <h1>{{ usuario()?.nombre }}</h1> 
        <p class="email">{{ usuario()?.email }}</p>
        
        <div class="badges-container">
          <div class="badges">
            <ion-chip *ngFor="let rol of rolesVisuales" [class]="rol.toLowerCase()" size="small">
              {{ rol | titlecase }}
            </ion-chip>
            <ion-chip class="activo" color="success" size="small">
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              Activo
            </ion-chip>
          </div>
          
          <ion-button *ngIf="!modoEdicion" 
                       (click)="activarEdicion()" 
                       fill="clear" 
                       size="small" 
                       color="light"
                       class="edit-btn">
            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            <span>Editar</span>
          </ion-button>
        </div>
      </div>
    </div>

    <div class="account-card">
      
      <div class="section">
        <h2>Datos personales</h2>
        
        <div class="info-grid">
          <div class="info-item">
            <ion-icon name="person-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Nombre</span>
              <input *ngIf="modoEdicion" 
              [(ngModel)]="usuarioEditado!.nombre" 
              class="input-edit"
              type="text"
              placeholder="Tu nombre completo" />
              <!-- <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="usuarioEditado!.nombre" 
                class="input-edit"
                placeholder="Tu nombre completo">
              </ion-input> -->
              <span *ngIf="!modoEdicion" class="value">{{ usuario()?.nombre }}</span>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="mail-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Email</span>
              <input *ngIf="modoEdicion" 
              [(ngModel)]="usuarioEditado!.email" 
              class="input-edit"
              type="email"
              placeholder="tu@email.com" />
              <!-- <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="usuarioEditado!.email" 
                type="email"
                class="input-edit"
                placeholder="tu@email.com">
              </ion-input> -->
              <span *ngIf="!modoEdicion" class="value">{{ usuario()?.email }}</span>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="call-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Teléfono</span>
              <input *ngIf="modoEdicion" 
              [(ngModel)]="usuarioEditado!.telefono" 
              class="input-edit"
              type="tel"
              placeholder="600 000 000" />
              <!-- <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="usuarioEditado!.telefono" 
                type="tel"
                class="input-edit"
                placeholder="600 000 000">
              </ion-input> -->
              <span *ngIf="!modoEdicion" class="value">
                {{ usuario()?.telefono || 'No especificado' }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="esONG()" class="section">
        <h2>Datos de la ONG</h2>
        <div class="info-grid">
          <div class="info-item full-width">
            <ion-icon name="business-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Nombre legal</span>
              <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="perfilONGEditado!.nombreLegal" 
                class="input-edit"
                placeholder="Nombre legal de la organización">
              </ion-input>
              <span *ngIf="!modoEdicion" class="value">{{ perfilONG()?.nombreLegal }}</span>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="card-outline" color="primary"></ion-icon>
            <div>
              <span class="label">CIF</span>
              <input *ngIf="modoEdicion" 
              [(ngModel)]="perfilONGEditado!.cif" 
              class="input-edit"
              type="text"
              placeholder="G12345678" />
              <!-- <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="perfilONGEditado!.cif" 
                class="input-edit"
                placeholder="G12345678">
              </ion-input> -->
              <span *ngIf="!modoEdicion" class="value">{{ perfilONG()?.cif }}</span>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="shield-checkmark-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Estado verificación</span>
              <span class="value badge-verificacion" 
                    [class]="perfilONG()?.isVerified ? 'verificado' : 'pendiente'">
                {{ perfilONG()?.estadoVerificacion | titlecase }}
              </span>
            </div>
          </div>

          <div class="info-item full-width">
            <ion-icon name="location-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Dirección</span>
              <input *ngIf="modoEdicion" 
              [(ngModel)]="perfilONGEditado!.direccion" 
              class="input-edit"
              type="text"
              placeholder="Dirección completa" />
              <!-- <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="perfilONGEditado!.direccion" 
                class="input-edit"
                placeholder="Dirección completa">
              </ion-input> -->
              <span *ngIf="!modoEdicion" class="value">{{ perfilONG()?.direccion || 'No especificada' }}</span>
            </div>
          </div>

          <div class="info-item full-width">
            <ion-icon name="globe-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Sitio web</span>
              <input *ngIf="modoEdicion" 
              [(ngModel)]="perfilONGEditado!.web" 
              class="input-edit"
              type="url"
              placeholder="https://..." />
              <!-- <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="perfilONGEditado!.web" 
                type="url"
                class="input-edit"
                placeholder="https://...">
              </ion-input> -->
              <span *ngIf="!modoEdicion" class="value">{{ perfilONG()?.web || 'No especificado' }}</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="esOrganizador()" class="section">
        <h2>Datos del Organizador</h2>
        <div class="info-grid">
          <div class="info-item full-width">
            <ion-icon name="people-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Nombre organización</span>
              <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="organizadorEditado!.nombre" 
                class="input-edit"
                placeholder="Nombre de la organización">
              </ion-input>
              <span *ngIf="!modoEdicion" class="value">{{ organizador()?.nombre }}</span>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="card-outline" color="primary"></ion-icon>
            <div>
              <span class="label">CIF</span>
              <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="organizadorEditado!.cif" 
                class="input-edit"
                placeholder="G12345678">
              </ion-input>
              <span *ngIf="!modoEdicion" class="value">{{ organizador()?.cif }}</span>
            </div>
          </div>

          <div class="info-item full-width">
            <ion-icon name="map-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Zona responsable</span>
              <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="organizadorEditado!.zonaResponsable" 
                class="input-edit"
                placeholder="Zona geográfica">
              </ion-input>
              <span *ngIf="!modoEdicion" class="value">{{ organizador()?.zonaResponsable || 'No especificada' }}</span>
            </div>
          </div>

          <div class="info-item">
            <ion-icon name="call-outline" color="primary"></ion-icon>
            <div>
              <span class="label">Teléfono directo</span>
              <ion-input 
                *ngIf="modoEdicion" 
                [(ngModel)]="organizadorEditado!.telefonoDirecto" 
                type="tel"
                class="input-edit"
                placeholder="600 000 000">
              </ion-input>
              <span *ngIf="!modoEdicion" class="value">{{ organizador()?.telefonoDirecto || 'No especificado' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="modoEdicion" class="edit-buttons-fixed">
      <ion-button fill="clear" color="medium" (click)="cancelarEdicion()" size="small">
        <ion-icon name="close-outline" slot="start"></ion-icon>
        Cancelar
      </ion-button>
      <ion-button color="success" (click)="guardarCambios()" size="small">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        Guardar cambios
      </ion-button>
    </div>

  </div>
</ion-content>
