<ion-app>
  <ion-menu contentId="main-content" type="overlay" side="start" *ngIf="isLoggedIn">
    <app-sidemenu 
      [currentUser]="currentUser" 
      [isLoggedIn]="isLoggedIn"
      (onLogout)="logout()">
    </app-sidemenu>
  </ion-menu>

  <div class="ion-page" id="main-content">
    
    <app-header 
      [authMode]="authMode"
      [isLoggedIn]="isLoggedIn"
      [currentUser]="currentUser"
      (onShowLogin)="showLogin()"
      (onShowRegister)="showRegister()"
      (onLogout)="logout()">
    </app-header>

    <ion-router-outlet></ion-router-outlet>
    
  </div>
</ion-app>
