:host {
  --sol-primary: #10b981;
  --sol-bg-page: #111827;
  --sol-surface: #1f2937;
  --sol-text-main: #f3f4f6;
  --sol-text-muted: #9ca3af;
}

ion-content {
  --background: var(--sol-bg-page);
}

.crear-propuesta-content {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 40px;
}

.header-section {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;

  .icon-wrapper {
    background: rgba(16, 185, 129, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    
    ion-icon {
      font-size: 30px;
      color: var(--sol-primary);
    }
  }

  h1 {
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin: 0 0 5px;
  }
  
  p {
    color: var(--sol-text-muted);
    font-size: 14px;
    margin: 0;
  }
}

.input-group {
  margin-bottom: 16px;

  .custom-label {
    display: block;
    color: var(--sol-text-muted); 
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 4px;
    font-weight: 500;
  }

  .custom-input {
    --background: var(--sol-surface);
    --color: var(--sol-text-main);
    --border-radius: 8px;
    --padding-start: 16px;
    --inner-padding-end: 16px;
    --min-height: 50px;
    
    border-radius: 8px;
    
    --border-width: 0;
    --inner-border-width: 0; 
    
    ion-input, ion-select {
      font-size: 15px;
      --placeholder-color: #6b7280;
      --placeholder-opacity: 0.8;
    }
  }

  .area-input {
    --min-height: 100px;
    align-items: flex-start;
    
    ion-textarea {
      margin-top: 10px; 
    }
  }
}

// Fechas
.date-row {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;

  .date-col {
    flex: 1;
    
    .custom-label {
      display: block;
      color: var(--sol-text-muted);
      font-size: 13px;
      margin-bottom: 8px;
      margin-left: 4px;
    }

    ion-datetime-button {
      &::part(native) {
        background: var(--sol-surface);
        color: var(--sol-text-main);
        border-radius: 8px;
        padding: 12px;
        width: 100%;
        justify-content: flex-start;
        font-size: 14px;
      }
    }
  }
}

.submit-btn {
  --background: #15803d; 
  --background-hover: #166534;
  --border-radius: 8px;
  --color: white;
  margin-top: 30px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
}

ion-modal {
  --background: #1f2937;
  
  ion-datetime {
    --background: #1f2937;
    --text-color: white;
    border-radius: 12px;
  }
}

.custom-input.ng-touched.ng-invalid, 
.ion-touched.ion-invalid .custom-input {
  
  border-color: var(--sol-error, #ef4444) !important;
  
  box-shadow: 0 0 0 1px rgba(239, 68, 68, 0.2) !important;

  ion-icon {
    color: var(--sol-error, #ef4444) !important;
  }
}

.error-msg {
  color: var(--sol-error, #ef4444);
  font-size: 12px;
  margin-top: 4px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  
  ion-icon {
    font-size: 14px;
  }
}

.ion-padding {
  margin-top: 20px !important;
}
