<ion-content class="ion-padding">
  <div class="crear-propuesta-content">
    
    <div class="header-section">
      <div class="icon-wrapper">
        <ion-icon name="add"></ion-icon>
      </div>
      <h1>Nueva Iniciativa</h1>
      <p>Completa los detalles para comenzar a ayudar</p>
    </div>

    <form [formGroup]="propuestaForm" (ngSubmit)="onSubmit()">
      
      <div class="input-group">
        <ion-label class="custom-label">Título de la propuesta</ion-label>
        <ion-item lines="none" class="custom-input" 
                  [class.error-border]="tituloField?.invalid && tituloField?.touched">
          <ion-input formControlName="titulo" placeholder="Ej. Recogida de alimentos"></ion-input>
        </ion-item>
        
        <div class="error-msg" *ngIf="tituloField?.hasError('required') && tituloField?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> El título es obligatorio
        </div>
        <div class="error-msg" *ngIf="tituloField?.hasError('minlength') && tituloField?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> Mínimo 5 caracteres
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custom-label">Descripción detallada</ion-label>
        <ion-item lines="none" class="custom-input area-input"
                  [class.error-border]="descripcionField?.invalid && descripcionField?.touched">
          <ion-textarea formControlName="descripcion" rows="4" placeholder="Describe qué se necesita..."></ion-textarea>
        </ion-item>

        <div class="error-msg" *ngIf="descripcionField?.hasError('required') && descripcionField?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> La descripción es obligatoria
        </div>
        <div class="error-msg" *ngIf="descripcionField?.hasError('minlength') && descripcionField?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> Mínimo 20 caracteres (escribe un poco más)
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custom-label">Tipo de ayuda</ion-label>
        <ion-item lines="none" class="custom-input"
                  [class.error-border]="tipoBienField?.invalid && tipoBienField?.touched">
          <ion-select formControlName="tipoBien" interface="popover" placeholder="Selecciona una categoría">
            <ion-select-option *ngFor="let tipo of tiposBienes" [value]="tipo.id">
              {{ tipo.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        
        <div class="error-msg" *ngIf="tipoBienField?.hasError('required') && tipoBienField?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> Selecciona un tipo de ayuda
        </div>
      </div>

      <div class="input-group">
        <ion-label class="custom-label">Ubicación</ion-label>
        <ion-item lines="none" class="custom-input"
                  [class.error-border]="lugarField?.invalid && lugarField?.touched">
          <ion-input formControlName="lugar" placeholder="Ciudad, Barrio o Dirección"></ion-input>
        </ion-item>

        <div class="error-msg" *ngIf="lugarField?.hasError('required') && lugarField?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> Indica dónde se realizará
        </div>
         <div class="error-msg" *ngIf="lugarField?.hasError('minlength') && lugarField?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> Mínimo 5 caracteres
        </div>
      </div>

      <!-- FECHAS -->
      <div class="date-row">
      <div class="date-col">
        <ion-label class="custom-label">Fecha Inicio</ion-label>
        <ion-datetime-button datetime="datetime-inicio"></ion-datetime-button>
        
        <!-- Mensaje de error -->
        <div class="error-msg" *ngIf="propuestaForm.get('fechaInicio')?.hasError('required') && propuestaForm.get('fechaInicio')?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> Requerido
        </div>
      </div>
      
      <div class="date-col">
        <ion-label class="custom-label">Fecha Fin</ion-label>
        <ion-datetime-button datetime="datetime-fin"></ion-datetime-button>
        
        <!-- Mensaje de error -->
        <div class="error-msg" *ngIf="propuestaForm.get('fechaFin')?.hasError('required') && propuestaForm.get('fechaFin')?.touched">
          <ion-icon name="alert-circle-outline"></ion-icon> Requerido
        </div>
      </div>
    </div>

      <div class="input-group">
        <ion-label class="custom-label">Estado inicial</ion-label>
        <ion-item lines="none" class="custom-input">
          <ion-select formControlName="estadoPropuesta" interface="popover">
            <ion-select-option *ngFor="let estado of estadosPropuesta" [value]="estado.value">
              {{ estado.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <ion-button class="submit-btn" expand="block" type="submit" [disabled]="loading">
        <span *ngIf="!loading">PUBLICAR PROPUESTA</span>
        <ion-spinner *ngIf="loading"></ion-spinner>
      </ion-button>

    </form>
  </div>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime 
      id="datetime-inicio" 
      presentation="date"
      [value]="propuestaForm.get('fechaInicio')?.value"
      [showDefaultButtons]="true"
      doneText="Confirmar"
      cancelText="Cancelar"
      [min]="fechaMinima"
      (ionChange)="onFechaInicioChange($event)">
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime 
      id="datetime-fin" 
      presentation="date"
      [value]="propuestaForm.get('fechaFin')?.value"
      [showDefaultButtons]="true"
      doneText="Confirmar"
      cancelText="Cancelar"
      [min]="fechaMinima"
      (ionChange)="onFechaFinChange($event)">
    </ion-datetime>
  </ng-template>
</ion-modal>


</ion-content>
