<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    

    <ng-container *ngIf="isOrganizador">
      <ion-menu-toggle>
        <ion-item routerLink="/home" routerLinkActive="router-link-active">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/lista-propuestas" routerLinkActive="router-link-active">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          <ion-label>Mis Propuestas</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/crear-propuesta" routerLinkActive="router-link-active">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          <ion-label>Crear Propuesta</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item button (click)="mostrarMensajePendiente('mensajes')">
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
          <ion-label>Mensajes</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/account" routerLinkActive="router-link-active">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Mi Perfil</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ng-container>

    <!-- (Resto de secciones: ADMIN, ONG, USUARIO NORMAL...) -->

<ion-item 
  lines="none" 
  class="logout-item" 
  button 
  detail="false"
  (click)="onLogout.emit()">
  <ion-icon name="log-out-outline" slot="start"></ion-icon>
  <ion-label>Cerrar sesión</ion-label>
</ion-item>
  </ion-list>
</ion-content>